body{
    font-family: 'Sriracha', cursive;
    background-color: aqua;
}
#camera{
    border-style: inset;
    width: 400px;
    height:300px;
}
#header{
    border-style: inset;
    border-width: 5px;
    font-size: large;
    width: 80%;
}
#picture{
    border-style: inset;
    width: 400px;
    height:300px;
}